<div class="container p-3">
  <!-- <div class="row">
    <p>Name: {{ userName }}</p>
    <p>Password: {{ userPassword }}</p>
  </div> -->
  <div class="row d-flex justify-content-center col-lg-10 mx-auto">
    <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-4">
        <span><span class="asterisk">*</span>Name:</span>
        <input
          type="text"
          class="form-control mt-1"
          formControlName="name"
          id="name"
          placeholder="e.g. Amay Lunagaria"
        />

        <span
          class="reactive-span"
          *ngIf="!userForm.get('name').valid && userForm.get('name').touched"
        >
          <br />
          <span
            class="reactive-span"
            *ngIf="userForm.get('name').errors['required']"
          >
            Please enter a valid name!
          </span>
          <br />
          <span
            class="reactive-span"
            *ngIf="userForm.get('name').errors.noWhiteSpace"
            >No white space allowed!</span
          >
        </span>
      </div>
      <br />
      <div class="form-group mb-3">
        <span><span class="asterisk">*</span>Date of Birth:</span>
        <input
          type="text"
          class="form-control mt-1"
          formControlName="dob"
          id="dob"
          placeholder="e.g. 19/09/1990"
          onfocus="(this.type='date')"
          onblur="(this.type='text')"
          min="2001-01-01"
        />
        <span
          class="reactive-span"
          *ngIf="!userForm.get('dob').valid && userForm.get('dob').touched"
        >
          <span
            class="reactive-span"
            *ngIf="userForm.get('dob').errors['required']"
          >
            Please enter a valid date! </span
          ><br />
          <span class="reactive-span" *ngIf="userForm.get('dob').invalid">
            Invalid Input!
          </span>
        </span>
      </div>
      <br />
      <div class="form-group mb-3">
        <span><span class="asterisk">*</span>Email:</span>
        <input
          type="email"
          class="form-control mt-1"
          formControlName="email"
          id="email"
          placeholder="e.g. lad@gmail.com"
        />
        <span
          class="reactive-span"
          *ngIf="!userForm.get('email').valid && userForm.get('email').touched"
        >
          <span
            class="reactive-span"
            *ngIf="userForm.get('email').errors['required']"
          >
            Please enter a valid email! </span
          ><br />
          <span class="reactive-span" *ngIf="userForm.get('email').invalid">
            Invalid Input!
          </span>
        </span>
      </div>
      <br />
      <div class="form-group mb-3">
        <span><span class="asterisk">*</span>Tel:</span>
        <input
          type="tel"
          class="form-control mt-1"
          formControlName="phonenumber"
          id="phonenumber"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
          maxlength="10"
          minlength="10"
          placeholder="e.g. 1234567890"
        />
        <span
          class="reactive-span"
          *ngIf="
            !userForm.get('phonenumber').valid &&
            userForm.get('phonenumber').touched
          "
        >
          <span
            class="reactive-span"
            *ngIf="userForm.get('phonenumber').errors['required']"
          >
            Please enter a valid phone number!
          </span>
          <br />
          <span
            class="reactive-span"
            *ngIf="userForm.get('phonenumber').invalid"
          >
            Invalid Input!
          </span>
        </span>
      </div>
      <div
        formGroupName="education"
        class="col-12 row align-items-center mt-5 mb-3 ms-1"
      >
        <span style="display: contents"
          ><span class="asterisk">*</span>Education:</span
        >
        <div class="form-group mb-3 col-auto">
          <input
            type="text"
            class="form-control mt-1"
            formControlName="institute"
            id="institute"
            placeholder="e.g. Darshan University"
          />
          <span
            class="reactive-span"
            *ngIf="
              !userForm.get('education.institute').valid &&
              userForm.get('education.institute').touched
            "
          >
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.institute').errors['required']"
            >
              Please enter a valid input!
            </span>
            <br />
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.institute').invalid"
            >
              Invalid Input!
            </span>
          </span>
        </div>
        <div class="form-group mb-3 col-auto">
          <input
            type="text"
            class="form-control mt-1"
            formControlName="educationtype"
            id="educationtype"
            placeholder="e.g. B. Tech / HSC / SSC"
          />
          <span
            class="reactive-span"
            *ngIf="
              !userForm.get('education.educationtype').valid &&
              userForm.get('education.educationtype').touched
            "
          >
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.educationtype').errors['required']"
            >
              Please enter a valid input!
            </span>
            <br />
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.educationtype').invalid"
            >
              Invalid Input!
            </span>
          </span>
        </div>
        <div class="form-group mb-3 col-auto">
          <input
            type="number"
            class="form-control mt-1"
            formControlName="percentage"
            id="percentage"
            maxlength="5"
            minlength="2"
            placeholder="e.g. 81.73"
            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57 || event.charCode == 46"
          />
          <span
            class="reactive-span"
            *ngIf="
              !userForm.get('education.percentage').valid &&
              userForm.get('education.percentage').touched
            "
          >
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.percentage').errors['required']"
            >
              Please enter a valid input!
            </span>
            <br />
            <span
              class="reactive-span"
              *ngIf="userForm.get('education.percentage').invalid"
            >
              Invalid Input!
            </span>
          </span>
        </div>
      </div>
      <br />
      <span>Hobbies:</span>
      <div
        class="form-group mb-3 px-3 d-inline-block"
        *ngFor="let hobby of hobbies; let i = index"
      >
        <input
          type="checkbox"
          class="mt-1"
          [formControlName]="hobby.name"
          [value]="hobby.name"
          (change)="onHobbyChange($event, hobby.name, i)"
          [checked]="hobbies[i].selected"
        />
        {{ hobby.name }}
      </div>
      <br />
      <div>
        <span><span class="asterisk">*</span>Gender:</span>
        <div
          class="radio ps-5 my-3 d-inline-block"
          *ngFor="let gender of genders"
        >
          <label>
            <input
              type="radio"
              formControlName="gender"
              class="my-2"
              [value]="gender"
            />
            {{ gender }}
          </label>
        </div>
        &nbsp;&nbsp;
        <span
          class="reactive-span"
          *ngIf="
            !userForm.get('gender').valid && userForm.get('gender').untouched
          "
          >Do select one!</span
        >
      </div>
      <br />

      <div class="form-group mb-3 row clearfix">
        <div class="col-6">
          <span>Address:</span>
          <textarea
            rows="3"
            class="form-control mt-1"
            formControlName="address"
            id="address"
            placeholder="Your address"
          ></textarea>
        </div>
        <div class="col-6">
          <span>Summary:</span>
          <textarea
            rows="3"
            class="form-control mt-1"
            formControlName="summary"
            id="summary"
            placeholder="Something about you"
          ></textarea>
        </div>
      </div>
      <div class="clearfix">
        <button
          type="submit"
          class="btn bg-primary-subtle text-dark float-start"
          [disabled]="!userForm.valid"
        >
          Submit
        </button>
        <button
          type="button"
          class="btn bg-danger-subtle float-end"
          (click)="onCancel()"
        >
          {{ allowEdit ? "Cancel" : "Clear" }}
        </button>
      </div>
    </form>
  </div>
</div>
