#main-container {
  min-height: 850px;
}

#form-container {
  width: 350px;
  height: auto;
  padding: 20px;
  box-shadow: 0px 0px 20px 1px rgb(0, 0, 0, 0.5);
}

label {
  padding: 0;
}

input {
  border: 0;
  outline: 0px;
  border-radius: 1rem;
}

input.ng-touched.ng-invalid {
  border: 1px solid #dc143c;
}

.display-none {
  display: none;
}

.asterisk {
  color: #dc143c;
}

span {
  font-weight: bold;
}
